<p id="notice"><%= notice %></p>

<h1>Routines</h1>

<table>
  <thead>
    <tr>
      <th>References</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @routines.each do |routine| %>
      <tr>
        <td><%= routine.name %></td>
        <td><%= link_to 'Show', routine %></td>
        <td><%= link_to 'Edit', edit_routine_path(routine) %></td>
        <td><%= link_to 'Destroy', routine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Routine', new_routine_path %>
