<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @routine.references %>
</p>

<p>
  <strong>Name:</strong>
  <%= @routine.name %>
</p>

<%= link_to 'Edit', edit_routine_path(@routine) %> |
<%= link_to 'Back', routines_path %>
